$forpusFontColor: #be9836;
$forpusBackgroundColor:#f8f8f8; 


.panel-config-row{
    padding-top: 4%;
    padding-left: 3%;
    color: $forpusFontColor;
    font-weight: bold;
}

.collection-item{
    color: grey;
}

.setting-icon{
    color: grey;
}

.panelsLink{
    a{
        color: $forpusFontColor;
    }

    a:active{
        color: black;
    }

    
    
}