<div class="container">
  <div class="shift-down row">
      <div class="input-field col s3">
          <select #selectRefreshTime materialize="material_select" 
          (change)="onChangeSelect(selectRefreshTime.value)">
              <option *ngFor="let timeItem of refreshTimes" [value]="timeItem.time">
                  {{timeItem.timeLabel}}
              </option>
          </select>
          <label>
              <i class="tiny material-icons">alarm_on</i>   
              Tempo de Refresh
          </label>
      </div>
  
      <div #customTime class="col s3 offset-s1" *ngIf="showCustomTimeInput">
          <div class="input-field">
              <input #customValue="ngModel" required id="customTimeInput" 
              type="number" class="validate" (change)="onChangeInput()" 
              [(ngModel)]="refreshValueSelected" min="1">
              
              <label for="customTimeInput" data-error="Valor inválido" class="active" data-success>
                  <i class="tiny material-icons">alarm_on</i>
                  Tempo de refresh (segundos):
              </label>
          </div>
      </div>

      <div class="col s1 offset-s1">
          <a class="btn-floating btn-large waves-effect waves-light"
          (click)="onClickPause()">
              <i class="material-icons">pause</i>
          </a>
      </div>
      
      <div class="col s1">
        <a class="btn-floating btn-large waves-effect waves-light"
        (click)="onClickResume()">
            <i class="material-icons">play_arrow</i>
        </a>
      </div>  
      <div class="col s1">
          <a class="btn-floating btn-large waves-effect waves-light"
          (click)="onClickRefresh()">
              <i class="material-icons">refresh</i>
          </a>
      </div>
              
  </div>
  <div class="divider z-depth-3"></div>
</div>


<div style="background-color: black;" class="row data-table-prices" style="padding-left: 10px;">
  <!-- tables of 1 col -->
  <div class="col s2 overflow-x:auto;">
    <!-- table of stocks and the benchmark ibov -->
    <table class="z-depth-3">
      <thead>
        <tr>
          <th>{{panelsType1.panelBenchmark.code}}</th>
          <th>{{panelsType1.panelBenchmark.volume}}</th>
          <th>{{panelsType1.panelBenchmark.percVol}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        </tr>
      </tbody>
    </table>
    <br>
  
    <!-- table for volatilities 30 minutes -->
    <table class="z-depth-3">
      <thead>
        <tr>
          <th>{{panelsType1.biggerVol30.code}}</th>
          <th>{{panelsType1.biggerVol30.volume}}</th>
          <th>{{panelsType1.biggerVol30.percVol}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- tables of 2 col -->
  <div class="col s9 overflow-x:auto;">
    <div class="col s4 overflow-x:auto;" 
    *ngFor="let panel of panels; 
    let i = index">
      <!-- table of stocks and the benchmark ibov -->
      <table class="z-depth-3">
          <thead>
            <th colspan="4" *ngIf="panels[i].id != 3" > {{ panels[i].nameP }} </th>
            <th colspan="5" *ngIf="panels[i].id == 3" > {{ panels[i].nameP }} </th>
            <tr>
              <th colspan="2" *ngFor="let item of typeLabel">{{ item }}</th>
              <th *ngIf="panels[i].id == 3" > {{ "VOL 30D/90D" }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prices of 
              (panels[i].resultTableH.length > panels[i].resultTableL.length ? 
              panels[i].resultTableH : panels[i].resultTableL); 
              let j = index">
              <td> <a class="modal-trigger" (click)="openModal(panels[i].resultTableH[j]?.ticker)">{{ panels[i].resultTableH[j]?.ticker }}</a></td>
              <td [ngStyle]="{'color': panels[i].resultTableH[j]?.pct > 0 ? '#1dcc92': 'tomato'}"> {{ panels[i].resultTableH[j]?.pct | number:'.1'}}</td>
              <td> <a class="modal-trigger" (click)="openModal(panels[i].resultTableL[j]?.ticker)">{{ panels[i].resultTableL[j]?.ticker }}</a></td>
              <td [ngStyle]="{'color': panels[i].resultTableL[j]?.pct > 0 ? '#1dcc92': 'tomato'}"> {{ panels[i].resultTableL[j]?.pct | number:'.1'}}</td>
              <td *ngIf="panels[i].id == 3"> </td>
            </tr>
          </tbody>
        </table>
        <br>
    </div>
  </div>

  <!-- tables of 5 col -->
  <div class="col s1 overflow-x:auto;">
    <!-- table of stocks and the benchmark ibov -->
    <table class="z-depth-3">
      <thead>
        <th colspan="2">Lista de todos ativos</th>
        <tr>
          <th *ngFor="let label of typeLabel2">{{label}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>Eclair</td>
        <td>$0.87</td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
  
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
 <div class="modal-content">
   <h4>{{securitySelected}}</h4>
   <hr><br>
   <p>Ticker Bloomberg: {{securitySInfo?.tickerBloomberg}}</p>
   <p>Site Bloomberg: 
     <a href="{{securitySInfo?.siteBloomberg}}" target="_blank">{{securitySInfo?.siteBloomberg}}</a>
    </p>
 </div>
 <div class="modal-footer">
   <a class="waves-effect waves-blue btn-flat" (click)="closeModal()">Fechar</a>
 </div>
</div>

