<div class="row data-table-prices" style="padding-left: 10px;">
  <!-- tables of 1 col -->
  <div class="col s2 overflow-x:auto;">
    <!-- table of stocks and the benchmark ibov -->
    <table class="z-depth-3">
      <thead>
        <tr>
          <th>{{panelsType1.panelBenchmark.code}}</th>
          <th>{{panelsType1.panelBenchmark.volume}}</th>
          <th>{{panelsType1.panelBenchmark.percVol}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        </tr>
      </tbody>
    </table>
    <br>
  
    <!-- table for volatilities 30 minutes -->
    <table class="z-depth-3">
      <thead>
        <tr>
          <th>{{panelsType1.biggerVol30.code}}</th>
          <th>{{panelsType1.biggerVol30.volume}}</th>
          <th>{{panelsType1.biggerVol30.percVol}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- tables of 2 col -->
  <div class="col s3 overflow-x:auto;" >
    <!-- table of stocks and the benchmark ibov -->
    <table class="z-depth-3">
      <thead>
        <th colspan="4">% 1 Hora </th>
        <tr><th colspan="2" *ngFor="let item of typeLabel">{{item}}</th></tr>
      </thead>
      <tbody>
      
        <tr *ngFor="let prices of 
          (panels[0].resultTableH.length > panels[0].resultTableL.length ? 
          panels[0].resultTableH : panels[0].resultTableL); 
          let i = index">
          <td> <a class="modal-trigger" (click)="openModal(panels[0].resultTableH[i]?.ticker)">{{ panels[0].resultTableH[i]?.ticker }}</a></td>
          <td [ngStyle]="{'color': panels[0].resultTableH[i]?.pct > 0 ? '#1dcc92': 'tomato'}"> {{ panels[0].resultTableH[i]?.pct }}</td>
          <td> <a class="modal-trigger" (click)="openModal(panels[0].resultTableL[i]?.ticker)">{{ panels[0].resultTableL[i]?.ticker }}</a></td>
          <td [ngStyle]="{'color': panels[0].resultTableL[i]?.pct > 0 ? '#1dcc92': 'tomato'}"> {{ panels[0].resultTableL[i]?.pct }}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <!-- table of stocks and the benchmark ibov -->
    <table class="z-depth-3">
      <thead>
        <th colspan="4">% 15 Minutos</th>
        <tr><th colspan="2" *ngFor="let item of typeLabel">{{item}}</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let pricesH of panels[1].resultTableH;
                    let pricesL of panels[1].resultTableL" >
          <td><a class="modal-trigger" (click)="openModal(pricesH.ticker)">{{ pricesH.ticker }}</a></td>
          <td [ngStyle]="{'color': pricesH.pct > 0 ? '#1dcc92': 'tomato'}">{{ pricesH.pct }}</td>
          <td><a class="modal-trigger" (click)="openModal(pricesL.ticker)">{{ pricesL.ticker }}</a></td>
          <td [ngStyle]="{'color': pricesL.pct > 0 ? '#1dcc92': 'tomato'}">{{ pricesL.pct }}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <!-- table of stocks and the benchmark ibov -->
    <table class="z-depth-3">
      <thead>
        <th colspan="4">% 2D</th>
        <tr><th colspan="2" *ngFor="let item of typeLabel">{{item}}</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let pricesH of panels[2].resultTableH;
                    let pricesL of panels[2].resultTableL" >
          <td><a class="modal-trigger" (click)="openModal(pricesH.ticker)">{{ pricesH.ticker }}</a></td>
          <td [ngStyle]="{'color': pricesH.pct > 0 ? '#1dcc92': 'tomato'}">{{ pricesH.pct }}</td>
          <td><a class="modal-trigger" (click)="openModal(pricesL.ticker)">{{ pricesL.ticker }}</a></td>
          <td [ngStyle]="{'color': pricesL.pct > 0 ? '#1dcc92': 'tomato'}">{{ pricesL.pct }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- tables of 3 col -->
  <div class="col s3 overflow-x:auto;" >
    <table class="z-depth-3">
      <thead>
        <th colspan="4">% All Time High </th>
        <tr><th colspan="2" *ngFor="let item of typeLabel">{{item}}</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let pricesH of panels[3].resultTableH;
                    let pricesL of panels[3].resultTableL" >
          <td><a class="modal-trigger" (click)="openModal(pricesH.ticker)">{{pricesH.ticker}}</a></td>
          <td [ngStyle]="{'color': pricesH.pct > 0 ? '#1dcc92': 'tomato'}">{{pricesH.pct}}</td>
          <td><a class="modal-trigger" (click)="openModal(pricesL.ticker)">{{pricesL.ticker}}</a></td>
          <td [ngStyle]="{'color': pricesL.pct > 0 ? '#1dcc92': 'tomato'}">{{pricesL.pct}}</td>
        </tr>
      </tbody>
    </table>
    <br>

    <table class="z-depth-3">
      <thead>
        <th colspan="4">% 1D</th>
        <tr><th colspan="2" *ngFor="let item of typeLabel">{{item}}</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let pricesH of panels[4].resultTableH;
                  let pricesL of panels[4].resultTableL" >
          <td><a class="modal-trigger" (click)="openModal(pricesH.ticker)">{{pricesH.ticker}}</a></td>
          <td [ngStyle]="{'color': pricesH.pct > 0 ? '#1dcc92': 'tomato'}">{{pricesH.pct}}</td>
          <td><a class="modal-trigger" (click)="openModal(pricesL.ticker)">{{pricesL.ticker}}</a></td>
          <td [ngStyle]="{'color': pricesL.pct > 0 ? '#1dcc92': 'tomato'}">{{pricesL.pct}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    
    <table class="z-depth-3">
      <thead>
        <th colspan="4">% 3D</th>
        <tr><th colspan="2" *ngFor="let item of typeLabel">{{item}}</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let pricesH of panels[5].resultTableH;
                  let pricesL of panels[5].resultTableL" >
          <td><a class="modal-trigger" (click)="openModal(pricesH.ticker)">{{pricesH.ticker}}</a></td>
          <td [ngStyle]="{'color': pricesH.pct > 0 ? '#1dcc92': 'tomato'}">{{pricesH.pct}}</td>
          <td><a class="modal-trigger" (click)="openModal(pricesL.ticker)">{{pricesL.ticker}}</a></td>
          <td [ngStyle]="{'color': pricesL.pct > 0 ? '#1dcc92': 'tomato'}">{{pricesL.pct}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- tables of 4 col -->
  <div class="col s3 overflow-x:auto;" >
    <table class="z-depth-3">
      <thead>
        <th colspan="5">% 1 Month </th>
        <tr>
          <th colspan="2" *ngFor="let item of typeLabel">{{item}}</th>
          <th>Vol 30D/90D</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pricesH of panels[6].resultTableH;
              let pricesL of panels[6].resultTableL" >
          <td><a class="modal-trigger" (click)="openModal(pricesH.ticker)">{{pricesH.ticker}}</a></td>
          <td [ngStyle]="{'color': pricesH.pct > 0 ? '#1dcc92': 'tomato'}">{{pricesH.pct}}</td>
          <td><a class="modal-trigger" (click)="openModal(pricesL.ticker)">{{pricesL.ticker}}</a></td>
          <td [ngStyle]="{'color': pricesL.pct > 0 ? '#1dcc92': 'tomato'}">{{pricesL.pct}}</td>
          <td [ngStyle]="{'color': pricesL.pct > 0 ? '#1dcc92': 'tomato'}"> {{ 1/2 }} </td>
        </tr>
      </tbody>
    </table>
    <br>

    <table class="z-depth-3">
      <thead>
        <th colspan="4">% YTD</th>
        <tr><th colspan="2" *ngFor="let item of typeLabel">{{item}}</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let pricesH of panels[7].resultTableH;
              let pricesL of panels[7].resultTableL" >
          <td><a class="modal-trigger" (click)="openModal(pricesH.ticker)">{{pricesH.ticker}}</a></td>
          <td [ngStyle]="{'color': pricesH.pct > 0 ? '#1dcc92': 'tomato'}">{{pricesH.pct}}</td>
          <td><a class="modal-trigger" (click)="openModal(pricesL.ticker)">{{pricesL.ticker}}</a></td>
          <td [ngStyle]="{'color': pricesL.pct > 0 ? '#1dcc92': 'tomato'}">{{pricesL.pct}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    
    <table class="z-depth-3">
      <thead>
        <th colspan="4">% 5D</th>
        <tr><th colspan="2" *ngFor="let item of typeLabel">{{item}}</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let pricesH of panels[8].resultTableH;
              let pricesL of panels[8].resultTableL" >
          <td><a class="modal-trigger" (click)="openModal(pricesH.ticker)">{{pricesH.ticker}}</a></td>
          <td [ngStyle]="{'color': pricesH.pct > 0 ? '#1dcc92': 'tomato'}">{{pricesH.pct}}</td>
          <td><a class="modal-trigger" (click)="openModal(pricesL.ticker)">{{pricesL.ticker}}</a></td>
          <td [ngStyle]="{'color': pricesL.pct > 0 ? '#1dcc92': 'tomato'}">{{pricesL.pct}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- tables of 5 col -->
  <div class="col s1 overflow-x:auto;">
    <!-- table of stocks and the benchmark ibov -->
    <table class="z-depth-3">
      <thead>
        <th colspan="2">Lista de todos ativos</th>
        <tr>
          <th *ngFor="let label of typeLabel2">{{label}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>Eclair</td>
        <td>$0.87</td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
  
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
 <div class="modal-content">
   <h4>{{securitySelected}}</h4>
   <hr><br>
   <p>Ticker Bloomberg: {{securitySInfo?.tickerBloomberg}}</p>
   <p>Site Bloomberg: 
     <a href="{{securitySInfo?.siteBloomberg}}" target="_blank">{{securitySInfo?.siteBloomberg}}</a>
    </p>
 </div>
 <div class="modal-footer">
   <a class="waves-effect waves-blue btn-flat" (click)="closeModal()">Fechar</a>
 </div>
</div>

<div>
  
</div>


