<div class="container">
    <div class="shift-down row">
        <div class="input-field col s4">
            <select #selectRefreshTime materialize="material_select" 
            [materializeSelectOptions]="selectOptions"
            (change)="onChangeSelect(selectRefreshTime.value)">
                <option *ngFor="let timeItem of refreshTimes" [value]="timeItem.time">
                    {{timeItem.timeLabel}}
                </option>
            </select>
            <label>
                <i class="tiny material-icons">alarm_on</i>   
                Tempo de Refresh
            </label>
        </div>
    
        <div #customTime class="col s4 offset-s1" *ngIf="showCustomTimeInput">
            <div class="input-field ">
                <input #customValue="ngModel" required id="customTimeInput" 
                type="number" class="validate" [(ngModel)]="refreshValueSelected" >
                
                <label for="customTimeInput" data-error="Valor inválido" class="active" data-success>
                    <i class="tiny material-icons">alarm_on</i>
                    Digite o tempo de refresh (segundos):
                </label>
            </div>
        </div>

        <div class="col s1 offset-s1">
            <a class="btn-floating btn-large waves-effect waves-light"
            (click)="onClickPause()">
                <i class="material-icons">pause</i>
            </a>
        </div>
        
        <div class="col s1">
            <a class="btn-floating btn-large waves-effect waves-light">
                <i class="material-icons">refresh</i>
            </a>
        </div>
                
    </div>
    <div class="divider z-depth-3"></div>
</div>
<div style="background-color: black;">
    <app-panel></app-panel>
</div>
